* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.header{
    border-bottom: 0.3px solid black;
}

header > div > img, .strong_number {
    margin: 0px 64px;
}

.container{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.main_container{
    width: 1152px;
    margin: 24px 64px;
}

.main-logics{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 0.6rem;
}

.input-above-belowe{
    display: flex;
    flex-direction: column;
}

.belowe-container{

}

.messages-box{
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 48px;
    border: none;
    border-radius: 10px;
    margin: 16px;
    padding: 16px 8px;
    text-align: center;
    box-shadow: 0 8px rgba(0, 0, 0, 0.1);
    z-index: 100;


.messages-box.error {
    background-image: url("image/icons/Vector (5).png");
    background-position: 5px center;
    background-color: #F23D5B;
    background-repeat: no-repeat;
    padding-left: 33px;
}

.messages-box.success{
    background-image:url("image/icons/Vector (4).png");
    background-color: #47B27D;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 33px;
}



fieldset {
     all: unset;
 }

legend {
    all: unset
}

.radio-list {
    display: flex;
    gap: 14px;
    list-style: none;
    padding-left: 0;
}


.radio {
    appearance: none;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: green;
}

.radio[value="red"] {
    background-color: #F37D7D;
}

.radio[value="green"] {
    background-color: #C2F37D;
}

.radio[value="blue"] {
    background-color: #7DE1F3;
}

.radio[value="yellow"] {
    background-color: #F3DB7D;
}

.radio[value="purple"] {
    background-color: #E77DF3;
}

.radio:checked {
    border-color: white;
    box-shadow: 0 0 0 3px white, /* Внутренняя обводка для создания промежутка */
    0 0 0 4.5px #007BFF; /* Внешняя обводка */
}

.btn_adds{
    background: #457CDC;
    width: 232px;
    height: 36px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 10px;
    padding-top: 6px;
    padding-right: 24px;
    padding-bottom: 6px;
    padding-left: 24px;
    gap: 8px;
}

.style_note{
    width: 368px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 16px;
    padding: 16px 8px;

}

.notes_list {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;      /* Убираем стандартный отступ для ul */
    display: flex;   /* Добавляем, чтобы заметки выстраивались в ряд */
    flex-wrap: wrap; /* Разрешаем перенос заметок на новую строку */
}





